*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.form{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 600px;
  height: 200px;
  background-color: rgba(76, 67, 67, 0.649);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.form input {
  width: 300px;
  height: 30px;
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
  color: rgb(255, 255, 255);
  outline: none;
  
}

.form input::placeholder{
  color: white;
}

.isnot{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  align-items: center;
  display: flex;
  min-height: 100vh;

}

#header{
  font-size: 50px;
  color: gray;
}
.todo{
  width: 600px;
  height: 100px;
  background-color: rgba(207, 35, 35, 0.519);
  text-align: center;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.buttons{
  width: 100%;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

.buttons button{
  width: 120px;
  height: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.div_list{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  gap: 100px;
}

.iscompleted{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 100vh;
  gap: 20px;
  align-items: center;
  display: flex;

}

#link{
  color: rgb(11, 0, 0);
  font-size: 30px;
  text-shadow: 2px 2px 12px black;

}